/* Jackpot Appliances
Version 1.0
Published on 10th November 2020
Designed by Zunair Viqar
Coded by Zunair Viqar with the help of Muhammad Hasin Shabbir */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #edf2f8;
  /* font-family: 'Lato','Sarabun',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}

/*||||||||||||||||||||||||||||||||*/
/*      LANDING STYLES START      */
/*|||||||||||||||||||||||||||||||*/
#landingContent{
  padding-top: 80px;
  padding-bottom: 10px;
  background-color: #edf2f8;
}

.FirstHeading{
  font-size: 70px;
  font-weight: 300;
  /* line-height: 1.15; */
  color: #a6211f !important;
}
.AboutUsHeading{
  font-size: 40px;
  text-align: center;
  color:#a6211f;
  font-weight: 400;
}

.AboutUsText{
  font-size: 20px;
  text-align: center;
}


@media (max-width:992px) {
  .FirstHeading{
    font-size: 55px;
  }
  .AboutUsHeading{
    font-size: 28px;
  }

  .AboutUsText{
    font-size: 17px;
  }
}
@media (max-width:768px) {
  .FirstHeading{
    font-size: 40px;
  }
  .AboutUsHeading{
    font-size: 22px;
  }

  .AboutUsText{
    font-size: 15px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*      FOOTER STYLES START       */
/*|||||||||||||||||||||||||||||||*/
footer{
  color: #e6e6e6;
  border-top: 1px solid white;
}
footer .follow-text{
  font-size: 24px;
}
footer #social-media .fa {
  padding: 20px;
  font-size: 25px;
  width: 64px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 20%;
}
.fa-facebook {
  background: white;
  color: #a6211f;
}
.fa-instagram {
  background: white;
  color: #a6211f;
}
footer .follow-nav{
 padding-left: 10px;
}
footer .follow-nav .footer-link{
  text-decoration: none;
  color: white;
}
footer #email-icon .fa {
  padding-right: 5px;
  font-size: 25px;
}
footer .email-text{
 font-size: 15px;
}
footer hr{
 background-color: white;
 width: 50px;
}
footer #phone-icon .fa {
  padding-right: 5px;
  font-size: 21px;
}
footer .phone-text{
 font-size: 15px;
}
footer .address-text h5 span{
  text-align: center !important;
   font-size: 14px !important;
}
footer .address-text{
    text-align: center !important;
}
footer h5 span{
  font-size: 1rem;
}
@media (max-width:768px) {
  footer .follow-text{
    font-size: 18px;
  }
  footer #social-media .fa {
    padding: 15px;
    font-size: 18px;
    width: 50px;
    margin: 0 10px;
  }
  footer #email-icon .fa {
    padding-right: 5px;
    font-size: 20px;
  }
  footer #phone-icon .fa {
    padding-right: 5px;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  footer .follow-nav{
   font-size: 15px;
  }
}
