html {
  scroll-behavior: smooth;
}
body {
  /* font-family: 'Lato','Sarabun',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}


/*||||||||||||||||||||||||||||||||*/
/*      LANDING STYLES START      */
/*|||||||||||||||||||||||||||||||*/
#landingContent{
  padding-top: 130px;
  padding-bottom: 40px;
  background-color: #edf2f8;
}

.FirstHeading{
  font-size: 80px;
  font-weight: 400;
  line-height: 1.15;
  color: #a6211f !important;
}

.SecondHeading{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  /* max-width: 1020px; */
  margin-left: auto;
  margin-right: auto;
  color: #a6211f !important;
  text-align: center !important;
}
.ContactContentWrap{
  background-color: #a6211f;
  border-radius: 15px;
  box-shadow: 0 0 8px 0 rgba(68,67,67,.5);
  /* height: 100vh; */
  /* margin-left: 10px; */
  /* margin-right: 100px; */
  margin-bottom: 10px;
  color: white;

}
.FormHeading{
  margin-top: 50px;
  font-size: 45px;
  /* border: 1px solid black; */
}
.form-control{
  background-color: #a6211f !important;
  border: 0px !important;
  border-bottom: 1px solid white !important;
  border-radius: 0px !important;
  color: white !important;
}

.NoMap{
  background-color: #a6211f;
  color: white;
}
.Map{
  padding: 0 !important;
}
.VisitUs{
  margin-top: 40px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.15;
  /* color: #062649 !important; */
}
.SayHello{
  margin-top: 10px;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.15;
/*  margin-bottom: 20vh;*/
      margin-bottom: 20px;

  /* color: #062649 !important; */
}
.AddressHeading{
  margin-top: 40px;
  font-size: 22px;
  /* color: #062649 !important; */
}
.ContactUsHeading{
  margin-top: 40px;
  font-size: 22px;
  /* color: #062649 !important; */
}
.ContactUsContent{
  font-size: 16px;
  /* color: #062649 !important; */
}
.ContactUsContentend{
  margin-bottom: 20px;
}

@media (max-width:992px) {
  .FirstHeading{
    font-size: 70px;
  }

  .SecondHeading{
    font-size: 17px;
  }
  .FormHeading{
    font-size: 38px;
    margin-bottom: 20px;
  }
}
@media (max-width:768px) {
  .FirstHeading{
    font-size: 40px;
  }

  .SecondHeading{
    font-size: 14px;
  }
  .FormHeading{
    font-size: 24px;
  }
  .emailSmall{
    font-size: 14px;
  }
}

.xyz{
  border: 1px solid black;
}

/*||||||||||||||||||||||||||||||||*/
/*      FOOTER STYLES START       */
/*|||||||||||||||||||||||||||||||*/
footer{
  color: #e6e6e6;
  border-top: 1px solid white;
}
footer .follow-text{
  font-size: 24px;
}
footer #social-media .fa {
  padding: 20px;
  font-size: 25px;
  width: 64px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 20%;
}
.fa-facebook {
  background: white;
  color: #a6211f;
}
.fa-instagram {
  background: white;
  color: #a6211f;
}
footer .follow-nav{
 padding-left: 10px;
}
footer .follow-nav .footer-link{
  text-decoration: none;
  color: white;
}
footer #email-icon .fa {
  padding-right: 5px;
  font-size: 25px;
}
footer .email-text{
 font-size: 15px;
}
footer hr{
 background-color: white;
 width: 50px;
}
footer #phone-icon .fa {
  padding-right: 5px;
  font-size: 21px;
}
footer .phone-text{
 font-size: 15px;
}
footer .address-text h5 span{
  text-align: center !important;
   font-size: 14px !important;
}
footer .address-text{
    text-align: center !important;
}
footer h5 span{
  font-size: 1rem;
}
@media (max-width:768px) {
  footer .follow-text{
    font-size: 18px;
  }
  footer #social-media .fa {
    padding: 15px;
    font-size: 18px;
    width: 50px;
    margin: 0 10px;
  }
  footer #email-icon .fa {
    padding-right: 5px;
    font-size: 20px;
  }
  footer #phone-icon .fa {
    padding-right: 5px;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  footer .follow-nav{
   font-size: 15px;
  }
}
