body{
}

.myimg img{
  border-radius: 5px;
}

.Home-Text-1{
  font-size: 55px;
}
.Home-Text-2{
  font-size: 25px;
}

@media (max-width: 991px) {
  .Home-Text-1{
    font-size: 45px;
  }
  .Home-Text-2{
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .Home-Text-1{
    font-size: 35px;
  }
  .Home-Text-2{
    font-size: 15px;
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.transitions.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.transitions.css");


#owl-demo .item{
    /* background: #42bdc2; */
    /* padding: 30px 0px; */
    /* margin: 5px; */
    /* color: #FFF; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#owl-demo .item img{
  border-radius: 10px;
  border: 2px solid grey;
}

footer{
  color: #e6e6e6;
  border-top: 1px solid white;
}

footer .follow-text{
  font-size: 24px;
}

footer #social-media .fa {
  padding: 20px;
  font-size: 25px;
  width: 64px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 20%;
}

.fa-facebook {
  background: white;
  color: #a6211f;
}

.fa-instagram {
  background: white;
  color: #a6211f;
}

footer .follow-nav{
 padding-left: 10px;
}
footer .follow-nav .footer-link{
  text-decoration: none;
  color: white;
}
footer #email-icon .fa {
  padding-right: 5px;
  font-size: 25px;
}
footer .email-text{
 font-size: 18px;
}
footer #phone-icon .fa {
  padding-right: 5px;
  font-size: 21px;
}
footer .phone-text{
 font-size: 18px;
}

footer .address-text{
  text-align: center !important;
}

footer h5 span{
  font-size: 1rem;
}
@media (max-width:768px) {
  footer .follow-text{
    font-size: 18px;
  }
  footer #email-icon .fa {
    padding-right: 5px;
    font-size: 20px;
  }
  footer #phone-icon .fa {
    padding-right: 5px;
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  footer .follow-nav{
   font-size: 15px;
   
  }
}
